## Requests
Get data directly from an API using Python with the `requests` library. Check out the [documentation](https://requests.readthedocs.io/en/master/) for the Requests library.

The `requests` library is a library for submitting HTTP requests from Python. Despite its frequent use, it's not included in the Python standard library. You'll need to `pip install requests` yourself if you don't have it already.
![](./imgs/pokeapi.png)

If you haven't already - grab your free API key for Alpha Vantage [here](https://www.alphavantage.co).

#### Slack: Give me thumbs up when you have your API key

#### Import requests

In [1]:
#should be there with conda, otherwise pip install requests

import requests

#### Variable for API call

## Let's try a more complicated API - for stocks!

![](./imgs/alpha-vantage.png)
If you haven't already - grab your free API key for Alpha Vantage [here](https://www.alphavantage.co). It takes five seconds.


Alpha Vantage has documentation [here](https://www.alphavantage.co/documentation/). You will need to look at documentation if you want to use an API, because they can change over time.

##### Most APIs have a single base URL from which API calls are made. If you look closely at the examples, this is Alpha Vantage's:

In [2]:
#You can add query params to this base url to get additional info

base_url = "https://www.alphavantage.co/query"

#### Let's build out this request.
This is a very common format for pure API requests to come in

In [67]:
#lets build the url with the additional params
#show requests params
#params is dictionary that has parameter key and whatever we want to pass
#grab these from the API documentation
#PLEASE USE YOUR OWN API KEYS, NOT MINE

req = requests.get(
    base_url,
    params={
        "function": "TIME_SERIES_DAILY",
        "symbol": "GME", #let's try gamestop
        "apikey": "F26RBERI3X6QA0PV"
    }
)

#this builds the whole URL out for us

In [68]:
req

#### Let's grab that data!

In [70]:
data = req.json()

In [6]:
#Slack: I got data from the request to Alpha Vantage Co.

data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'GME',
  '3. Last Refreshed': '2021-02-10',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2021-02-10': {'1. open': '50.7700',
   '2. high': '62.8300',
   '3. low': '46.5500',
   '4. close': '51.2000',
   '5. volume': '35943280'},
  '2021-02-09': {'1. open': '56.6100',
   '2. high': '57.0000',
   '3. low': '46.5200',
   '4. close': '50.3100',
   '5. volume': '25598598'},
  '2021-02-08': {'1. open': '72.4100',
   '2. high': '72.6600',
   '3. low': '58.0200',
   '4. close': '60.0000',
   '5. volume': '25687282'},
  '2021-02-05': {'1. open': '54.0400',
   '2. high': '95.0000',
   '3. low': '51.0900',
   '4. close': '63.7700',
   '5. volume': '81345013'},
  '2021-02-04': {'1. open': '91.1900',
   '2. high': '91.5000',
   '3. low': '53.3300',
   '4. close': '53.5000',
   '5. volume': '62427275'},
  '2021-02-03': {'1. open': '112.0100',
   '2. high': '113.3999',
   '3. low': '85.2500',
   '4. close': '92.4100',
   '5. volume': '42698511'},
  '2021-02-02': {'1. open': '140.7600',
   '2. high': '158.0000',
   '3. low': '74.2201',
   '4. close': '90.0000',
   '5. volume': '76663691'},
  '2021-02-01': {'1. open': '316.5600',
   '2. high': '322.0000',
   '3. low': '212.0000',
   '4. close': '225.0000',
   '5. volume': '37382152'},
  '2021-01-29': {'1. open': '379.7100',
   '2. high': '413.9800',
   '3. low': '250.0000',
   '4. close': '325.0000',
   '5. volume': '49414294'},
  '2021-01-28': {'1. open': '265.0000',
   '2. high': '483.0000',
   '3. low': '112.2500',
   '4. close': '193.6000',
   '5. volume': '58815805'},
  '2021-01-27': {'1. open': '354.8300',
   '2. high': '380.0000',
   '3. low': '249.0000',
   '4. close': '347.5100',
   '5. volume': '90516825'},
  '2021-01-26': {'1. open': '88.5600',
   '2. high': '150.0000',
   '3. low': '80.2000',
   '4. close': '147.9800',
   '5. volume': '161894423'},
  '2021-01-25': {'1. open': '96.7300',
   '2. high': '159.1800',
   '3. low': '61.1300',
   '4. close': '76.7900',
   '5. volume': '177874000'},
  '2021-01-22': {'1. open': '42.5900',
   '2. high': '76.7573',
   '3. low': '42.3200',
   '4. close': '65.0100',
   '5. volume': '194084194'},
  '2021-01-21': {'1. open': '39.2300',
   '2. high': '44.7500',
   '3. low': '37.0000',
   '4. close': '43.0300',
   '5. volume': '57079754'},
  '2021-01-20': {'1. open': '37.3700',
   '2. high': '41.1899',
   '3. low': '36.0600',
   '4. close': '39.1200',
   '5. volume': '33471789'},
  '2021-01-19': {'1. open': '41.5500',
   '2. high': '45.5200',
   '3. low': '36.6400',
   '4. close': '39.3600',
   '5. volume': '74721924'},
  '2021-01-15': {'1. open': '38.4900',
   '2. high': '40.7500',
   '3. low': '34.0100',
   '4. close': '35.5000',
   '5. volume': '46866358'},
  '2021-01-14': {'1. open': '38.0900',
   '2. high': '43.0600',
   '3. low': '33.0500',
   '4. close': '39.9100',
   '5. volume': '93717410'},
  '2021-01-13': {'1. open': '20.4200',
   '2. high': '38.6500',
   '3. low': '20.0300',
   '4. close': '31.4000',
   '5. volume': '143530129'},
  '2021-01-12': {'1. open': '19.9600',
   '2. high': '20.4000',
   '3. low': '19.3168',
   '4. close': '19.9500',
   '5. volume': '6999775'},
  '2021-01-11': {'1. open': '19.4100',
   '2. high': '20.6500',
   '3. low': '19.0100',
   '4. close': '19.9400',
   '5. volume': '14927612'},
  '2021-01-08': {'1. open': '18.1800',
   '2. high': '18.3000',
   '3. low': '17.0800',
   '4. close': '17.6900',
   '5. volume': '6481960'},
  '2021-01-07': {'1. open': '18.4700',
   '2. high': '19.4500',
   '3. low': '18.0200',
   '4. close': '18.0800',
   '5. volume': '6129276'},
  '2021-01-06': {'1. open': '17.3400',
   '2. high': '18.9800',
   '3. low': '17.3300',
   '4. close': '18.3600',
   '5. volume': '6056248'},
  '2021-01-05': {'1. open': '17.3500',
   '2. high': '18.0765',
   '3. low': '17.2300',
   '4. close': '17.3700',
   '5. volume': '4961457'},
  '2021-01-04': {'1. open': '19.0000',
   '2. high': '19.1000',
   '3. low': '17.1500',
   '4. close': '17.2500',
   '5. volume': '10022474'},
  '2020-12-31': {'1. open': '19.2500',
   '2. high': '19.8000',
   '3. low': '18.8000',
   '4. close': '18.8400',
   '5. volume': '6922652'},
  '2020-12-30': {'1. open': '19.3800',
   '2. high': '20.0000',
   '3. low': '18.8500',
   '4. close': '19.2600',
   '5. volume': '5934391'},
  '2020-12-29': {'1. open': '20.8200',
   '2. high': '21.0700',
   '3. low': '18.5600',
   '4. close': '19.3800',
   '5. volume': '9241441'},
  '2020-12-28': {'1. open': '21.3100',
   '2. high': '21.9700',
   '3. low': '20.3500',
   '4. close': '20.9900',
   '5. volume': '8924279'},
  '2020-12-24': {'1. open': '21.0100',
   '2. high': '21.4800',
   '3. low': '19.9500',
   '4. close': '20.1500',
   '5. volume': '6262174'},
  '2020-12-23': {'1. open': '20.1700',
   '2. high': '22.3499',
   '3. low': '19.1300',
   '4. close': '20.5700',
   '5. volume': '25830256'},
  '2020-12-22': {'1. open': '16.2200',
   '2. high': '20.0400',
   '3. low': '16.1500',
   '4. close': '19.4600',
   '5. volume': '30687718'},
  '2020-12-21': {'1. open': '15.8100',
   '2. high': '16.3480',
   '3. low': '15.2800',
   '4. close': '15.5300',
   '5. volume': '9876128'},
  '2020-12-18': {'1. open': '15.7800',
   '2. high': '16.3000',
   '3. low': '15.1800',
   '4. close': '15.6300',
   '5. volume': '16618776'},
  '2020-12-17': {'1. open': '13.9600',
   '2. high': '14.9800',
   '3. low': '13.5900',
   '4. close': '14.8300',
   '5. volume': '8194902'},
  '2020-12-16': {'1. open': '13.9600',
   '2. high': '14.3050',
   '3. low': '13.5800',
   '4. close': '13.8500',
   '5. volume': '5865123'},
  '2020-12-15': {'1. open': '12.7800',
   '2. high': '14.0200',
   '3. low': '12.4800',
   '4. close': '13.8500',
   '5. volume': '8192856'},
  '2020-12-14': {'1. open': '13.3400',
   '2. high': '13.4335',
   '3. low': '12.1400',
   '4. close': '12.7200',
   '5. volume': '10007092'},
  '2020-12-11': {'1. open': '13.9100',
   '2. high': '14.0000',
   '3. low': '13.0200',
   '4. close': '13.3100',
   '5. volume': '7496868'},
  '2020-12-10': {'1. open': '13.1200',
   '2. high': '14.4100',
   '3. low': '13.0500',
   '4. close': '14.1200',
   '5. volume': '7558922'},
  '2020-12-09': {'1. open': '13.9200',
   '2. high': '14.7300',
   '3. low': '13.2250',
   '4. close': '13.6600',
   '5. volume': '24357944'},
  '2020-12-08': {'1. open': '16.3700',
   '2. high': '17.2100',
   '3. low': '15.9300',
   '4. close': '16.9400',
   '5. volume': '16120163'},
  '2020-12-07': {'1. open': '17.0000',
   '2. high': '17.5000',
   '3. low': '16.2200',
   '4. close': '16.3500',
   '5. volume': '7386258'},
  '2020-12-04': {'1. open': '16.3000',
   '2. high': '17.2900',
   '3. low': '16.2600',
   '4. close': '16.9000',
   '5. volume': '8972672'},
  '2020-12-03': {'1. open': '16.4800',
   '2. high': '16.6400',
   '3. low': '15.8700',
   '4. close': '16.1200',
   '5. volume': '6294965'},
  '2020-12-02': {'1. open': '15.7000',
   '2. high': '16.6800',
   '3. low': '15.3800',
   '4. close': '16.5800',
   '5. volume': '7883380'},
  '2020-12-01': {'1. open': '17.1100',
   '2. high': '17.4000',
   '3. low': '15.7600',
   '4. close': '15.8000',
   '5. volume': '12260810'},
  '2020-11-30': {'1. open': '18.1700',
   '2. high': '19.4200',
   '3. low': '16.5575',
   '4. close': '16.5600',
   '5. volume': '31983498'},
  '2020-11-27': {'1. open': '15.2900',
   '2. high': '16.7400',
   '3. low': '14.8800',
   '4. close': '16.0800',
   '5. volume': '12504197'},
  '2020-11-25': {'1. open': '13.6000',
   '2. high': '15.2500',
   '3. low': '13.4200',
   '4. close': '14.7500',
   '5. volume': '8860092'},
  '2020-11-24': {'1. open': '14.2300',
   '2. high': '14.2600',
   '3. low': '13.3000',
   '4. close': '13.6700',
   '5. volume': '7130536'},
  '2020-11-23': {'1. open': '12.9000',
   '2. high': '14.1200',
   '3. low': '12.6700',
   '4. close': '13.9000',
   '5. volume': '9607973'},
  '2020-11-20': {'1. open': '12.5500',
   '2. high': '13.4600',
   '3. low': '12.5400',
   '4. close': '12.7100',
   '5. volume': '8402347'},
  '2020-11-19': {'1. open': '11.6000',
   '2. high': '12.7900',
   '3. low': '11.4500',
   '4. close': '12.4600',
   '5. volume': '11787613'},
  '2020-11-18': {'1. open': '11.8000',
   '2. high': '12.0400',
   '3. low': '11.5600',
   '4. close': '11.5700',
   '5. volume': '3169222'},
  '2020-11-17': {'1. open': '11.6500',
   '2. high': '11.9200',
   '3. low': '11.2300',
   '4. close': '11.6300',
   '5. volume': '6678176'},
  '2020-11-16': {'1. open': '11.1600',
   '2. high': '12.6602',
   '3. low': '10.7200',
   '4. close': '12.0600',
   '5. volume': '9774824'},
  '2020-11-13': {'1. open': '11.3600',
   '2. high': '11.5500',
   '3. low': '11.0000',
   '4. close': '11.0100',
   '5. volume': '3546171'},
  '2020-11-12': {'1. open': '11.7400',
   '2. high': '11.8700',
   '3. low': '10.9700',
   '4. close': '11.1300',
   '5. volume': '4355892'},
  '2020-11-11': {'1. open': '11.5000',
   '2. high': '11.9500',
   '3. low': '11.2100',
   '4. close': '11.7500',
   '5. volume': '4882569'},
  '2020-11-10': {'1. open': '11.5000',
   '2. high': '11.6600',
   '3. low': '10.8300',
   '4. close': '11.1000',
   '5. volume': '3825963'},
  '2020-11-09': {'1. open': '12.7600',
   '2. high': '12.9300',
   '3. low': '11.2500',
   '4. close': '11.4900',
   '5. volume': '6244865'},
  '2020-11-06': {'1. open': '11.5200',
   '2. high': '12.1700',
   '3. low': '11.3200',
   '4. close': '11.8600',
   '5. volume': '5518243'},
  '2020-11-05': {'1. open': '11.2700',
   '2. high': '11.8400',
   '3. low': '11.0600',
   '4. close': '11.4500',
   '5. volume': '4705245'},
  '2020-11-04': {'1. open': '11.7600',
   '2. high': '11.7699',
   '3. low': '10.6100',
   '4. close': '10.9100',
   '5. volume': '5807871'},
  '2020-11-03': {'1. open': '10.7500',
   '2. high': '11.8600',
   '3. low': '10.6300',
   '4. close': '11.5700',
   '5. volume': '7454472'},
  '2020-11-02': {'1. open': '10.8200',
   '2. high': '11.0900',
   '3. low': '10.5000',
   '4. close': '10.7500',
   '5. volume': '5227011'},
  '2020-10-30': {'1. open': '11.6400',
   '2. high': '11.6400',
   '3. low': '10.3600',
   '4. close': '10.4700',
   '5. volume': '11562367'},
  '2020-10-29': {'1. open': '11.8800',
   '2. high': '12.2500',
   '3. low': '11.6801',
   '4. close': '11.7300',
   '5. volume': '4165843'},
  '2020-10-28': {'1. open': '12.2700',
   '2. high': '13.0500',
   '3. low': '11.7800',
   '4. close': '11.8200',
   '5. volume': '6388580'},
  '2020-10-27': {'1. open': '13.7100',
   '2. high': '13.7100',
   '3. low': '12.3600',
   '4. close': '12.6900',
   '5. volume': '7231006'},
  '2020-10-26': {'1. open': '14.9300',
   '2. high': '15.4500',
   '3. low': '13.2600',
   '4. close': '13.4500',
   '5. volume': '13376269'},
  '2020-10-23': {'1. open': '15.0500',
   '2. high': '15.3800',
   '3. low': '14.5500',
   '4. close': '15.0000',
   '5. volume': '6507324'},
  '2020-10-22': {'1. open': '14.2000',
   '2. high': '15.8700',
   '3. low': '14.1900',
   '4. close': '14.9100',
   '5. volume': '16212232'},
  '2020-10-21': {'1. open': '13.9000',
   '2. high': '14.4200',
   '3. low': '13.8000',
   '4. close': '14.1000',
   '5. volume': '5361928'},
  '2020-10-20': {'1. open': '14.0300',
   '2. high': '14.1430',
   '3. low': '13.6650',
   '4. close': '13.8600',
   '5. volume': '6603951'},
  '2020-10-19': {'1. open': '13.4400',
   '2. high': '14.5000',
   '3. low': '13.3800',
   '4. close': '13.9100',
   '5. volume': '13169073'},
  '2020-10-16': {'1. open': '13.7700',
   '2. high': '13.9000',
   '3. low': '13.0800',
   '4. close': '13.3100',
   '5. volume': '11651578'},
  '2020-10-15': {'1. open': '11.9900',
   '2. high': '15.1000',
   '3. low': '11.9900',
   '4. close': '13.8300',
   '5. volume': '39894822'},
  '2020-10-14': {'1. open': '12.6700',
   '2. high': '12.6800',
   '3. low': '12.0500',
   '4. close': '12.2500',
   '5. volume': '10776762'},
  '2020-10-13': {'1. open': '11.7300',
   '2. high': '12.4200',
   '3. low': '11.6500',
   '4. close': '11.8800',
   '5. volume': '10179708'},
  '2020-10-12': {'1. open': '11.6600',
   '2. high': '12.7662',
   '3. low': '11.4000',
   '4. close': '11.8000',
   '5. volume': '23655701'},
  '2020-10-09': {'1. open': '12.8300',
   '2. high': '14.8000',
   '3. low': '11.9000',
   '4. close': '12.0200',
   '5. volume': '77152780'},
  '2020-10-08': {'1. open': '9.5400',
   '2. high': '13.6400',
   '3. low': '9.1900',
   '4. close': '13.4900',
   '5. volume': '76453557'},
  '2020-10-07': {'1. open': '9.2300',
   '2. high': '9.5600',
   '3. low': '9.1678',
   '4. close': '9.3600',
   '5. volume': '3308644'},
  '2020-10-06': {'1. open': '9.5600',
   '2. high': '9.8350',
   '3. low': '9.1000',
   '4. close': '9.1300',
   '5. volume': '4535421'},
  '2020-10-05': {'1. open': '9.4400',
   '2. high': '9.5900',
   '3. low': '9.2502',
   '4. close': '9.4600',
   '5. volume': '2804969'},
  '2020-10-02': {'1. open': '9.3800',
   '2. high': '9.7800',
   '3. low': '9.3000',
   '4. close': '9.3900',
   '5. volume': '4340484'},
  '2020-10-01': {'1. open': '10.0900',
   '2. high': '10.2500',
   '3. low': '9.6900',
   '4. close': '9.7700',
   '5. volume': '4554055'},
  '2020-09-30': {'1. open': '10.2500',
   '2. high': '10.7597',
   '3. low': '10.0600',
   '4. close': '10.2000',
   '5. volume': '6079033'},
  '2020-09-29': {'1. open': '10.0000',
   '2. high': '10.6500',
   '3. low': '9.9300',
   '4. close': '10.3500',
   '5. volume': '5244339'},
  '2020-09-28': {'1. open': '10.1600',
   '2. high': '10.2600',
   '3. low': '9.5500',
   '4. close': '10.0900',
   '5. volume': '6764323'},
  '2020-09-25': {'1. open': '9.1900',
   '2. high': '10.1826',
   '3. low': '9.1000',
   '4. close': '10.0200',
   '5. volume': '7515157'},
  '2020-09-24': {'1. open': '9.7100',
   '2. high': '9.8100',
   '3. low': '9.0100',
   '4. close': '9.1400',
   '5. volume': '7938838'},
  '2020-09-23': {'1. open': '10.6000',
   '2. high': '10.8600',
   '3. low': '9.9200',
   '4. close': '10.0400',
   '5. volume': '10651152'},
  '2020-09-22': {'1. open': '10.4500',
   '2. high': '11.1699',
   '3. low': '9.9000',
   '4. close': '10.5600',
   '5. volume': '34752484'},
  '2020-09-21': {'1. open': '9.3500',
   '2. high': '9.6000',
   '3. low': '8.3800',
   '4. close': '8.7500',
   '5. volume': '7639806'},
  '2020-09-18': {'1. open': '9.2000',
   '2. high': '9.7700',
   '3. low': '8.9100',
   '4. close': '9.4700',
   '5. volume': '17407513'}}}

#### Well, this looks like a familiar format...

In [79]:
#can take our dictionary data and put it in a pandas dataframe so it's easier to look at
import pandas as pd

#### Put it in a DataFrame

In [8]:
#still messy, let's see if we can clean it up
#we only want the timeseries portion of the data, so let's just grab that
pd.DataFrame(data)

,Meta Data,Time Series (Daily)
1. Information,"Daily Prices (open, high, low, close) and Volumes",NaN
2. Symbol,GME,NaN
3. Last Refreshed,2021-02-10,NaN
4. Output Size,Compact,NaN
5. Time Zone,US/Eastern,NaN
...,...,...
2020-09-24,NaN,"{'1. open': '9.7100', '2. high': '9.8100', '3...."
2020-09-23,NaN,"{'1. open': '10.6000', '2. high': '10.8600', '..."
2020-09-22,NaN,"{'1. open': '10.4500', '2. high': '11.1699', '..."
2020-09-21,NaN,"{'1. open': '9.3500', '2. high': '9.6000', '3...."
2020-09-18,NaN,"{'1. open': '9.2000', '2. high': '9.7700', '3...."

In [9]:
#grabbing the timeseries daily
ts_data = data['Time Series (Daily)']

In [81]:
ts_meta_data = data['Meta Data']['2. Symbol']

In [82]:
ts_meta_data

'GME'

In [10]:
pd.DataFrame(ts_data)

,2021-02-10,2021-02-09,2021-02-08,2021-02-05,2021-02-04,2021-02-03,2021-02-02,2021-02-01,2021-01-29,2021-01-28,...,2020-10-01,2020-09-30,2020-09-29,2020-09-28,2020-09-25,2020-09-24,2020-09-23,2020-09-22,2020-09-21,2020-09-18
1. open,50.7700,56.6100,72.4100,54.0400,91.1900,112.0100,140.7600,316.5600,379.7100,265.0000,...,10.0900,10.2500,10.0000,10.1600,9.1900,9.7100,10.6000,10.4500,9.3500,9.2000
2. high,62.8300,57.0000,72.6600,95.0000,91.5000,113.3999,158.0000,322.0000,413.9800,483.0000,...,10.2500,10.7597,10.6500,10.2600,10.1826,9.8100,10.8600,11.1699,9.6000,9.7700
3. low,46.5500,46.5200,58.0200,51.0900,53.3300,85.2500,74.2201,212.0000,250.0000,112.2500,...,9.6900,10.0600,9.9300,9.5500,9.1000,9.0100,9.9200,9.9000,8.3800,8.9100
4. close,51.2000,50.3100,60.0000,63.7700,53.5000,92.4100,90.0000,225.0000,325.0000,193.6000,...,9.7700,10.2000,10.3500,10.0900,10.0200,9.1400,10.0400,10.5600,8.7500,9.4700
5. volume,35943280,25598598,25687282,81345013,62427275,42698511,76663691,37382152,49414294,58815805,...,4554055,6079033,5244339,6764323,7515157,7938838,10651152,34752484,7639806,17407513

#### How can we improve that?

In [11]:
#remember timeseries data is always better with dates as rows

pd.DataFrame(ts_data).T

            1. open  2. high   3. low 4. close 5. volume
2021-02-10  50.7700  62.8300  46.5500  51.2000  35943280
2021-02-09  56.6100  57.0000  46.5200  50.3100  25598598
2021-02-08  72.4100  72.6600  58.0200  60.0000  25687282
2021-02-05  54.0400  95.0000  51.0900  63.7700  81345013
2021-02-04  91.1900  91.5000  53.3300  53.5000  62427275
...             ...      ...      ...      ...       ...
2020-09-24   9.7100   9.8100   9.0100   9.1400   7938838
2020-09-23  10.6000  10.8600   9.9200  10.0400  10651152
2020-09-22  10.4500  11.1699   9.9000  10.5600  34752484
2020-09-21   9.3500   9.6000   8.3800   8.7500   7639806
2020-09-18   9.2000   9.7700   8.9100   9.4700  17407513

[100 rows x 5 columns]

### Challenge
Write your own function that takes a ticker symbol and outputs a DataFrame.

In [98]:
def get_price_data(ticker):
    """ str -> dataframe
    Return a dataframe of time series trading data for a publicly traded company.
    ticker is a string representing a publicly traded company.
    """
    # Save the URL of API location.
    base_url = "https://www.alphavantage.co/query"
    # Create a request object using the base url, function, ticker symbol, and api key.
    req = requests.get(
        base_url,
        params={
            "function": "TIME_SERIES_DAILY",
            "symbol": ticker,
            "apikey": "F26RBERI3X6QA0PV"}
    )
    # Save the request object as a dictionary by calling .json on it.
    data = req.json()
    # Overwrite the dataframe to return a dictionary of Time Series data.
    data = data['Time Series (Daily)']
    # Convert the dictionary to a dataframe, transpose it, and save to a variable.
#    meta_data = data['Meta Data']['2. Symbol']
    df = pd.DataFrame(data).T
    # Return the dataframe.
    return df

In [99]:
get_price_data('GME').head()

            1. open  2. high   3. low 4. close 5. volume
2021-02-17  49.7700  51.1900  44.5600  45.9400   9147635
2021-02-16  52.6600  53.5000  49.0400  49.5100   8175030
2021-02-12  50.7500  55.2400  48.0500  52.4000  14573264
2021-02-11  50.0100  55.3200  48.2201  51.1000  13056725
2021-02-10  50.7700  62.8300  46.5500  51.2000  35943280

# Python API Wrappers
For web APIs such as these, open sourcerers (ordinary programmers like you and me!) like to build language-specific **API wrappers** to easier call the API. Helps us avoid having to parse the json and just get data into a df.

Interestingly, based on our very vague definition of APIs, API wrappers are also themselves APIs!

Alpha Vantage has a Python API wrapper made by user `RomelTorres` [here](https://github.com/RomelTorres/alpha_vantage)!

![](./imgs/opensource.jpg)

## You want data? You got data.

## Key Takeaway #1: Your favorite thing maybe has a free API
* **Cryptocurrency prices**: [ccxt](https://github.com/ccxt/ccxt) provides a unified API for several cryptocurrency markets. You can even buy and sell crypto from within Python!
* **Weather**: [OpenWeather](https://openweathermap.org/api)

Big list of Python API wrappers: https://github.com/discdiver/list-of-python-api-wrappers

## Key Takeaway #2: Your favorite thing maybe has a Python wrapper for that free API

## Let's use the Alpha Vantage Python API Wrapper

https://github.com/RomelTorres/alpha_vantage

In [14]:
!pip install alpha_vantage

Requirement already satisfied: alpha_vantage in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (2.3.1)
Requirement already satisfied: requests in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from alpha_vantage) (2.22.0)
Requirement already satisfied: aiohttp in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from alpha_vantage) (3.7.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests->alpha_vantage) (2.8)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: typing-extensions>=3.6.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from aiohttp->alpha_vantage) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from aiohttp->alpha_vantage) (19.3.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from aiohttp->alpha_vantage) (1.6.3)

In [53]:
from alpha_vantage.timeseries import TimeSeries


ts = TimeSeries(key='F26RBERI3X6QA0PV')
# Get json object with the intraday data and another with  the call's metadata
data, meta_data = ts.get_intraday('GME')

In [16]:
data

{'2021-02-10 20:00:00': {'1. open': '50.0000',
  '2. high': '50.1700',
  '3. low': '49.8500',
  '4. close': '49.9000',
  '5. volume': '23637'},
 '2021-02-10 19:45:00': {'1. open': '50.0000',
  '2. high': '50.1800',
  '3. low': '49.8900',
  '4. close': '50.1800',
  '5. volume': '7569'},
 '2021-02-10 19:30:00': {'1. open': '49.9000',
  '2. high': '50.0000',
  '3. low': '49.7500',
  '4. close': '50.0000',
  '5. volume': '12621'},
 '2021-02-10 19:15:00': {'1. open': '49.9499',
  '2. high': '49.9600',
  '3. low': '49.8300',
  '4. close': '49.9100',
  '5. volume': '6429'},
 '2021-02-10 19:00:00': {'1. open': '50.0000',
  '2. high': '50.0000',
  '3. low': '49.7500',
  '4. close': '49.9900',
  '5. volume': '7757'},
 '2021-02-10 18:45:00': {'1. open': '49.6600',
  '2. high': '49.9899',
  '3. low': '49.6600',
  '4. close': '49.9800',
  '5. volume': '4801'},
 '2021-02-10 18:30:00': {'1. open': '50.0700',
  '2. high': '50.2000',
  '3. low': '49.6500',
  '4. close': '49.6500',
  '5. volume': '23652'},
 '2021-02-10 18:15:00': {'1. open': '50.2000',
  '2. high': '50.2500',
  '3. low': '50.0000',
  '4. close': '50.1000',
  '5. volume': '13946'},
 '2021-02-10 18:00:00': {'1. open': '50.0800',
  '2. high': '50.3000',
  '3. low': '50.0000',
  '4. close': '50.2000',
  '5. volume': '13273'},
 '2021-02-10 17:45:00': {'1. open': '49.7000',
  '2. high': '50.4000',
  '3. low': '49.6500',
  '4. close': '50.0800',
  '5. volume': '26944'},
 '2021-02-10 17:30:00': {'1. open': '49.7000',
  '2. high': '49.8000',
  '3. low': '49.6100',
  '4. close': '49.7000',
  '5. volume': '20844'},
 '2021-02-10 17:15:00': {'1. open': '49.4700',
  '2. high': '51.2000',
  '3. low': '49.4500',
  '4. close': '49.7499',
  '5. volume': '139739'},
 '2021-02-10 17:00:00': {'1. open': '50.1800',
  '2. high': '50.1800',
  '3. low': '49.4100',
  '4. close': '49.4700',
  '5. volume': '73649'},
 '2021-02-10 16:45:00': {'1. open': '49.7800',
  '2. high': '50.0900',
  '3. low': '49.5000',
  '4. close': '50.0500',
  '5. volume': '54975'},
 '2021-02-10 16:30:00': {'1. open': '50.0300',
  '2. high': '50.5000',
  '3. low': '49.5000',
  '4. close': '49.7800',
  '5. volume': '76798'},
 '2021-02-10 16:15:00': {'1. open': '51.2300',
  '2. high': '51.7800',
  '3. low': '49.4000',
  '4. close': '50.2900',
  '5. volume': '111734'},
 '2021-02-10 16:00:00': {'1. open': '51.1700',
  '2. high': '52.5000',
  '3. low': '51.0000',
  '4. close': '51.1900',
  '5. volume': '917210'},
 '2021-02-10 15:45:00': {'1. open': '51.0899',
  '2. high': '52.3000',
  '3. low': '50.5600',
  '4. close': '51.1200',
  '5. volume': '717050'},
 '2021-02-10 15:30:00': {'1. open': '50.8300',
  '2. high': '51.8800',
  '3. low': '50.4800',
  '4. close': '50.9200',
  '5. volume': '621544'},
 '2021-02-10 15:15:00': {'1. open': '53.1100',
  '2. high': '53.4499',
  '3. low': '50.6200',
  '4. close': '50.7800',
  '5. volume': '785869'},
 '2021-02-10 15:00:00': {'1. open': '54.0850',
  '2. high': '54.8700',
  '3. low': '52.3500',
  '4. close': '53.2817',
  '5. volume': '683899'},
 '2021-02-10 14:45:00': {'1. open': '54.2172',
  '2. high': '54.4600',
  '3. low': '52.7100',
  '4. close': '54.1699',
  '5. volume': '892627'},
 '2021-02-10 14:30:00': {'1. open': '55.0499',
  '2. high': '56.4200',
  '3. low': '53.2000',
  '4. close': '54.0300',
  '5. volume': '1127049'},
 '2021-02-10 14:15:00': {'1. open': '56.3500',
  '2. high': '56.8700',
  '3. low': '54.3300',
  '4. close': '55.0150',
  '5. volume': '1073509'},
 '2021-02-10 14:00:00': {'1. open': '58.2547',
  '2. high': '59.0000',
  '3. low': '55.5600',
  '4. close': '56.3450',
  '5. volume': '1373022'},
 '2021-02-10 13:45:00': {'1. open': '61.5300',
  '2. high': '62.7600',
  '3. low': '57.2100',
  '4. close': '58.2900',
  '5. volume': '2471175'},
 '2021-02-10 13:30:00': {'1. open': '58.2000',
  '2. high': '62.8300',
  '3. low': '57.0100',
  '4. close': '61.5300',
  '5. volume': '3028649'},
 '2021-02-10 13:15:00': {'1. open': '55.9000',
  '2. high': '59.5500',
  '3. low': '55.7000',
  '4. close': '58.2500',
  '5. volume': '2842248'},
 '2021-02-10 13:00:00': {'1. open': '54.7250',
  '2. high': '56.0500',
  '3. low': '54.2000',
  '4. close': '55.8101',
  '5. volume': '846712'},
 '2021-02-10 12:45:00': {'1. open': '54.6600',
  '2. high': '56.8000',
  '3. low': '53.8600',
  '4. close': '54.5708',
  '5. volume': '1744859'},
 '2021-02-10 12:30:00': {'1. open': '53.2000',
  '2. high': '54.9400',
  '3. low': '52.5663',
  '4. close': '54.4600',
  '5. volume': '864362'},
 '2021-02-10 12:15:00': {'1. open': '52.6450',
  '2. high': '53.5000',
  '3. low': '51.1200',
  '4. close': '53.2000',
  '5. volume': '587371'},
 '2021-02-10 12:00:00': {'1. open': '52.8700',
  '2. high': '54.4199',
  '3. low': '51.4000',
  '4. close': '52.5300',
  '5. volume': '971553'},
 '2021-02-10 11:45:00': {'1. open': '50.9900',
  '2. high': '52.9799',
  '3. low': '50.5000',
  '4. close': '52.8800',
  '5. volume': '665254'},
 '2021-02-10 11:30:00': {'1. open': '52.3309',
  '2. high': '52.9000',
  '3. low': '50.5000',
  '4. close': '50.6601',
  '5. volume': '601503'},
 '2021-02-10 11:15:00': {'1. open': '49.5974',
  '2. high': '53.7600',
  '3. low': '49.5700',
  '4. close': '52.2750',
  '5. volume': '1290400'},
 '2021-02-10 11:00:00': {'1. open': '50.8999',
  '2. high': '50.9086',
  '3. low': '48.9000',
  '4. close': '49.7700',
  '5. volume': '539707'},
 '2021-02-10 10:45:00': {'1. open': '49.1527',
  '2. high': '50.9700',
  '3. low': '48.2900',
  '4. close': '50.9000',
  '5. volume': '829199'},
 '2021-02-10 10:30:00': {'1. open': '52.4552',
  '2. high': '53.6300',
  '3. low': '48.1600',
  '4. close': '49.2500',
  '5. volume': '1743981'},
 '2021-02-10 10:15:00': {'1. open': '50.4999',
  '2. high': '57.8000',
  '3. low': '50.4000',
  '4. close': '52.5650',
  '5. volume': '3942028'},
 '2021-02-10 10:00:00': {'1. open': '46.8797',
  '2. high': '50.5000',
  '3. low': '46.7300',
  '4. close': '50.4900',
  '5. volume': '1465724'},
 '2021-02-10 09:45:00': {'1. open': '50.7700',
  '2. high': '50.8327',
  '3. low': '46.5500',
  '4. close': '46.8950',
  '5. volume': '2480210'},
 '2021-02-10 09:30:00': {'1. open': '51.5800',
  '2. high': '51.8300',
  '3. low': '50.5000',
  '4. close': '50.5000',
  '5. volume': '100552'},
 '2021-02-10 09:15:00': {'1. open': '51.0000',
  '2. high': '52.2900',
  '3. low': '50.9900',
  '4. close': '51.5800',
  '5. volume': '83751'},
 '2021-02-10 09:00:00': {'1. open': '51.6000',
  '2. high': '51.8000',
  '3. low': '50.6900',
  '4. close': '50.9900',
  '5. volume': '39081'},
 '2021-02-10 08:45:00': {'1. open': '51.2800',
  '2. high': '52.2999',
  '3. low': '51.1000',
  '4. close': '51.5000',
  '5. volume': '52964'},
 '2021-02-10 08:30:00': {'1. open': '50.7500',
  '2. high': '51.2800',
  '3. low': '50.5500',
  '4. close': '51.2500',
  '5. volume': '30383'},
 '2021-02-10 08:15:00': {'1. open': '49.5000',
  '2. high': '53.5000',
  '3. low': '48.6000',
  '4. close': '50.8100',
  '5. volume': '160095'},
 '2021-02-10 08:00:00': {'1. open': '51.0400',
  '2. high': '51.5000',
  '3. low': '50.7000',
  '4. close': '51.1500',
  '5. volume': '29812'},
 '2021-02-10 07:45:00': {'1. open': '51.8000',
  '2. high': '52.0000',
  '3. low': '51.1500',
  '4. close': '51.2000',
  '5. volume': '26099'},
 '2021-02-10 07:30:00': {'1. open': '52.1000',
  '2. high': '53.4900',
  '3. low': '51.5500',
  '4. close': '51.7500',
  '5. volume': '71790'},
 '2021-02-10 07:15:00': {'1. open': '48.8100',
  '2. high': '52.2800',
  '3. low': '48.4500',
  '4. close': '52.1100',
  '5. volume': '79802'},
 '2021-02-10 07:00:00': {'1. open': '48.5000',
  '2. high': '48.7000',
  '3. low': '48.2700',
  '4. close': '48.7000',
  '5. volume': '6157'},
 '2021-02-10 06:45:00': {'1. open': '48.2500',
  '2. high': '48.4000',
  '3. low': '48.2500',
  '4. close': '48.4000',
  '5. volume': '3448'},
 '2021-02-10 06:30:00': {'1. open': '48.4000',
  '2. high': '48.5000',
  '3. low': '48.4000',
  '4. close': '48.4300',
  '5. volume': '1333'},
 '2021-02-10 06:15:00': {'1. open': '48.7000',
  '2. high': '48.7000',
  '3. low': '48.2500',
  '4. close': '48.4000',
  '5. volume': '1633'},
 '2021-02-10 06:00:00': {'1. open': '48.5200',
  '2. high': '48.5200',
  '3. low': '48.5000',
  '4. close': '48.5000',
  '5. volume': '890'},
 '2021-02-10 05:45:00': {'1. open': '48.7500',
  '2. high': '49.2500',
  '3. low': '48.0000',
  '4. close': '49.2500',
  '5. volume': '13780'},
 '2021-02-10 05:30:00': {'1. open': '49.8000',
  '2. high': '49.8000',
  '3. low': '48.7500',
  '4. close': '48.7500',
  '5. volume': '9952'},
 '2021-02-10 05:15:00': {'1. open': '50.3000',
  '2. high': '50.3000',
  '3. low': '50.0000',
  '4. close': '50.0000',
  '5. volume': '3688'},
 '2021-02-10 05:00:00': {'1. open': '50.4000',
  '2. high': '50.4000',
  '3. low': '50.2200',
  '4. close': '50.3500',
  '5. volume': '3097'},
 '2021-02-10 04:45:00': {'1. open': '50.4000',
  '2. high': '51.0000',
  '3. low': '50.2000',
  '4. close': '50.2200',
  '5. volume': '6339'},
 '2021-02-10 04:30:00': {'1. open': '50.4000',
  '2. high': '52.1000',
  '3. low': '50.2000',
  '4. close': '51.0000',
  '5. volume': '10652'},
 '2021-02-10 04:15:00': {'1. open': '50.0000',
  '2. high': '53.0000',
  '3. low': '50.0000',
  '4. close': '50.0500',
  '5. volume': '16911'},
 '2021-02-09 20:00:00': {'1. open': '50.5000',
  '2. high': '50.5700',
  '3. low': '49.9000',
  '4. close': '49.9900',
  '5. volume': '48422'},
 '2021-02-09 19:45:00': {'1. open': '50.3900',
  '2. high': '50.5800',
  '3. low': '50.3000',
  '4. close': '50.5800',
  '5. volume': '21126'},
 '2021-02-09 19:30:00': {'1. open': '50.5000',
  '2. high': '50.8300',
  '3. low': '50.4200',
  '4. close': '50.4200',
  '5. volume': '17459'},
 '2021-02-09 19:15:00': {'1. open': '50.2500',
  '2. high': '50.5200',
  '3. low': '50.2500',
  '4. close': '50.5000',
  '5. volume': '20433'},
 '2021-02-09 19:00:00': {'1. open': '50.4100',
  '2. high': '50.4100',
  '3. low': '50.0000',
  '4. close': '50.2500',
  '5. volume': '40682'},
 '2021-02-09 18:45:00': {'1. open': '50.8000',
  '2. high': '50.9300',
  '3. low': '50.4000',
  '4. close': '50.4100',
  '5. volume': '37657'},
 '2021-02-09 18:30:00': {'1. open': '51.3000',
  '2. high': '51.3200',
  '3. low': '50.5000',
  '4. close': '50.7600',
  '5. volume': '52079'},
 '2021-02-09 18:15:00': {'1. open': '51.5400',
  '2. high': '51.6900',
  '3. low': '51.2600',
  '4. close': '51.5300',
  '5. volume': '22628'},
 '2021-02-09 18:00:00': {'1. open': '51.5800',
  '2. high': '51.8500',
  '3. low': '51.2500',
  '4. close': '51.4500',
  '5. volume': '32299'},
 '2021-02-09 17:45:00': {'1. open': '52.2000',
  '2. high': '52.2000',
  '3. low': '51.2000',
  '4. close': '51.5200',
  '5. volume': '27985'},
 '2021-02-09 17:30:00': {'1. open': '51.7200',
  '2. high': '52.5500',
  '3. low': '51.7200',
  '4. close': '52.4000',
  '5. volume': '47966'},
 '2021-02-09 17:15:00': {'1. open': '52.0000',
  '2. high': '52.4000',
  '3. low': '51.5100',
  '4. close': '51.7100',
  '5. volume': '51320'},
 '2021-02-09 17:00:00': {'1. open': '52.9000',
  '2. high': '53.2800',
  '3. low': '51.8000',
  '4. close': '52.0000',
  '5. volume': '101041'},
 '2021-02-09 16:45:00': {'1. open': '55.0600',
  '2. high': '55.1900',
  '3. low': '51.0000',
  '4. close': '52.9000',
  '5. volume': '213437'},
 '2021-02-09 16:30:00': {'1. open': '51.4000',
  '2. high': '56.2000',
  '3. low': '51.3500',
  '4. close': '55.0600',
  '5. volume': '507367'},
 '2021-02-09 16:15:00': {'1. open': '49.3600',
  '2. high': '51.8500',
  '3. low': '49.3600',
  '4. close': '51.4100',
  '5. volume': '157288'},
 '2021-02-09 16:00:00': {'1. open': '48.9536',
  '2. high': '50.3500',
  '3. low': '48.7500',
  '4. close': '50.3200',
  '5. volume': '854756'},
 '2021-02-09 15:45:00': {'1. open': '49.6367',
  '2. high': '49.9385',
  '3. low': '48.7300',
  '4. close': '49.0736',
  '5. volume': '466846'},
 '2021-02-09 15:30:00': {'1. open': '50.0700',
  '2. high': '50.8700',
  '3. low': '49.2170',
  '4. close': '49.6267',
  '5. volume': '531107'},
 '2021-02-09 15:15:00': {'1. open': '50.9499',
  '2. high': '50.9499',
  '3. low': '50.0100',
  '4. close': '50.0601',
  '5. volume': '387389'},
 '2021-02-09 15:00:00': {'1. open': '49.4938',
  '2. high': '51.5000',
  '3. low': '49.2500',
  '4. close': '50.8807',
  '5. volume': '584697'},
 '2021-02-09 14:45:00': {'1. open': '49.2952',
  '2. high': '50.1000',
  '3. low': '49.2000',
  '4. close': '49.4501',
  '5. volume': '450190'},
 '2021-02-09 14:30:00': {'1. open': '49.0944',
  '2. high': '49.6299',
  '3. low': '49.0000',
  '4. close': '49.2955',
  '5. volume': '332059'},
 '2021-02-09 14:15:00': {'1. open': '48.8749',
  '2. high': '49.2000',
  '3. low': '48.6001',
  '4. close': '49.0999',
  '5. volume': '338149'},
 '2021-02-09 14:00:00': {'1. open': '48.6900',
  '2. high': '48.8699',
  '3. low': '48.2201',
  '4. close': '48.8699',
  '5. volume': '330035'},
 '2021-02-09 13:45:00': {'1. open': '48.6100',
  '2. high': '48.8300',
  '3. low': '48.2500',
  '4. close': '48.6900',
  '5. volume': '301977'},
 '2021-02-09 13:30:00': {'1. open': '48.7690',
  '2. high': '48.7799',
  '3. low': '48.0000',
  '4. close': '48.5000',
  '5. volume': '558474'},
 '2021-02-09 13:15:00': {'1. open': '48.6101',
  '2. high': '49.3899',
  '3. low': '48.6000',
  '4. close': '48.7796',
  '5. volume': '413408'},
 '2021-02-09 13:00:00': {'1. open': '49.3400',
  '2. high': '50.1800',
  '3. low': '48.6000',
  '4. close': '48.7399',
  '5. volume': '564517'},
 '2021-02-09 12:45:00': {'1. open': '50.0601',
  '2. high': '50.1900',
  '3. low': '48.5000',
  '4. close': '49.3700',
  '5. volume': '625369'},
 '2021-02-09 12:30:00': {'1. open': '50.2100',
  '2. high': '50.7550',
  '3. low': '49.7400',
  '4. close': '50.0700',
  '5. volume': '687119'},
 '2021-02-09 12:15:00': {'1. open': '48.5400',
  '2. high': '50.4400',
  '3. low': '48.4578',
  '4. close': '50.2999',
  '5. volume': '1031796'},
 '2021-02-09 12:00:00': {'1. open': '49.2642',
  '2. high': '49.4000',
  '3. low': '48.2000',
  '4. close': '48.5379',
  '5. volume': '840984'},
 '2021-02-09 11:45:00': {'1. open': '48.5070',
  '2. high': '49.5500',
  '3. low': '47.2000',
  '4. close': '49.3323',
  '5. volume': '1353438'},
 '2021-02-09 11:30:00': {'1. open': '47.3262',
  '2. high': '48.6199',
  '3. low': '46.5200',
  '4. close': '48.5700',
  '5. volume': '1591139'},
 '2021-02-09 11:15:00': {'1. open': '49.1900',
  '2. high': '49.2000',
  '3. low': '46.8800',
  '4. close': '47.3000',
  '5. volume': '2000713'}}

In [17]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [18]:
!pip install yfinance

Requirement already satisfied: yfinance in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (0.1.55)
Requirement already satisfied: requests>=2.20 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (2.22.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: lxml>=4.5.1 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (4.6.2)
Requirement already satisfied: numpy>=1.15 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.18.1)
Requirement already satisfied: pandas>=0.24 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2020.12.5)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: six>=1.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)

In [19]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [20]:
!pip install yahoofinancials

Requirement already satisfied: yahoofinancials in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (1.6)
Requirement already satisfied: pytz in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yahoofinancials) (2019.3)
Requirement already satisfied: beautifulsoup4 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from yahoofinancials) (4.8.2)
Requirement already satisfied: soupsieve>=1.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from beautifulsoup4->yahoofinancials) (1.9.5)

In [21]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [22]:
assets = ['TSLA', 'MSFT', 'FB']

yahoo_financials = YahooFinancials(assets)

data = yahoo_financials.get_historical_price_data(start_date='2019-01-01', 
                                                  end_date='2019-12-31', 
                                                  time_interval='weekly')

prices_df = pd.DataFrame({
    a: {x['formatted_date']: x['adjclose'] for x in data[a]['prices']} for a in assets
})

In [23]:
prices_df

                 TSLA        MSFT          FB
2019-01-01  66.991997   99.518669  138.050003
2019-01-08  66.879997   99.508911  145.389999
2019-01-15  60.452000  105.027977  150.039993
2019-01-22  59.276001  102.463470  147.470001
2019-01-29  62.577999  103.107025  169.250000
2019-02-05  62.568001  102.629219  165.789993
2019-02-12  61.576000  105.525269  162.500000
2019-02-19  59.754002  108.811363  164.619995
2019-02-26  57.071999  109.932167  167.369995
2019-03-05  58.183998  110.490349  172.070007
2019-03-12  53.897999  115.132050  160.470001
2019-03-19  52.084000  115.220207  166.289993
2019-03-26  57.835999  116.552002  168.699997
2019-04-02  54.639999  117.443115  174.929993
2019-04-09  53.276001  118.539902  179.649994
2019-04-16  52.549999  121.193710  181.440002
2019-04-23  48.293999  127.079079  194.779999
2019-04-30  51.068001  125.492653  193.880005
2019-05-07  45.402000  120.792198  181.539993
2019-05-14  41.071999  123.602692  182.720001
2019-05-21  38.125999  124.079880  181.059998
2019-05-28  35.793999  117.789391  164.149994
2019-06-04  42.576000  130.331070  174.820007
2019-06-11  45.006001  130.576782  189.009995
2019-06-18  44.728001  135.422424  192.600006
2019-06-25  45.433998  133.358353  193.000000
2019-07-02  46.068001  134.616455  195.759995
2019-07-09  50.700001  136.523254  203.910004
2019-07-16  51.136002  136.061279  202.320007
2019-07-23  47.153999  138.616806  195.940002
2019-07-30  45.664001  129.947739  181.729996
2019-08-06  45.801998  133.466446  185.369995
2019-08-13  45.366001  136.041656  186.169998
2019-08-20  43.000000  133.575623  180.360001
2019-08-27  45.122002  135.952271  185.669998
2019-09-03  46.358002  135.616974  188.759995
2019-09-10  48.562000  134.443436  186.220001
2019-09-17  48.245998  137.214554  186.820007
2019-09-24  48.174000  137.106079  178.080002
2019-10-01  47.543999  135.222504  179.679993
2019-10-08  51.391998  137.618881  183.279999
2019-10-15  50.700001  136.514359  189.759995
2019-10-22  65.542000  142.194687  189.399994
2019-10-29  63.493999  142.549698  194.720001
2019-11-05  69.017998  144.088089  189.610001
2019-11-12  69.998001  148.259583  197.399994
2019-11-19  67.267998  149.137238  199.789993
2019-11-26  66.973999  147.982330  199.699997
2019-12-03  67.905998  149.773361  201.339996
2019-12-10  76.300003  153.899643  197.919998
2019-12-17  83.844002  155.759949  206.179993
2019-12-24  82.940002  155.938049  204.410004

In [24]:
tsla_df = yf.download('TSLA', 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False)
tsla_df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-01-02  61.220001  63.026001  59.759998  62.023998  62.023998  58293000
2019-01-03  61.400002  61.880001  59.476002  60.071999  60.071999  34826000
2019-01-04  61.200001  63.599998  60.546001  63.537998  63.537998  36970500
2019-01-07  64.344002  67.348000  63.549999  66.991997  66.991997  37756000
2019-01-08  68.391998  68.802002  65.403999  67.070000  67.070000  35042500

In [33]:
symbol_list = ['TSLA', 'FB', 'MSFT']
prices_df = yf.download(symbol_list, auto_adjust = True, progress = False)

In [34]:
prices_df.head()

           Close                High                Low                Open  \
              FB      MSFT TSLA   FB      MSFT TSLA  FB      MSFT TSLA   FB
Date
1986-03-13   NaN  0.061893  NaN  NaN  0.064656  NaN NaN  0.056367  NaN  NaN
1986-03-14   NaN  0.064103  NaN  NaN  0.065209  NaN NaN  0.061893  NaN  NaN
1986-03-17   NaN  0.065209  NaN  NaN  0.065762  NaN NaN  0.064103  NaN  NaN
1986-03-18   NaN  0.063551  NaN  NaN  0.065762  NaN NaN  0.062998  NaN  NaN
1986-03-19   NaN  0.062445  NaN  NaN  0.064103  NaN NaN  0.061893  NaN  NaN

                          Volume
                MSFT TSLA     FB        MSFT TSLA
Date
1986-03-13  0.056367  NaN    NaN  1031788800  NaN
1986-03-14  0.061893  NaN    NaN   308160000  NaN
1986-03-17  0.064103  NaN    NaN   133171200  NaN
1986-03-18  0.065209  NaN    NaN    67766400  NaN
1986-03-19  0.063551  NaN    NaN    47894400  NaN

In [35]:
prices_df.columns = ['_'.join(col).strip() for col in prices_df.columns.values]

In [36]:
prices_df.head()

,Close_FB,Close_MSFT,Close_TSLA,High_FB,High_MSFT,High_TSLA,Low_FB,Low_MSFT,Low_TSLA,Open_FB,Open_MSFT,Open_TSLA,Volume_FB,Volume_MSFT,Volume_TSLA
Date,,,,,,,,,,,,,,,
1986-03-13,NaN,0.061893,NaN,NaN,0.064656,NaN,NaN,0.056367,NaN,NaN,0.056367,NaN,NaN,1031788800,NaN
1986-03-14,NaN,0.064103,NaN,NaN,0.065209,NaN,NaN,0.061893,NaN,NaN,0.061893,NaN,NaN,308160000,NaN
1986-03-17,NaN,0.065209,NaN,NaN,0.065762,NaN,NaN,0.064103,NaN,NaN,0.064103,NaN,NaN,133171200,NaN
1986-03-18,NaN,0.063551,NaN,NaN,0.065762,NaN,NaN,0.062998,NaN,NaN,0.065209,NaN,NaN,67766400,NaN
1986-03-19,NaN,0.062445,NaN,NaN,0.064103,NaN,NaN,0.061893,NaN,NaN,0.063551,NaN,NaN,47894400,NaN

In [42]:
import asyncio
from alpha_vantage.async_support.timeseries import TimeSeries

symbols = ['AAPL', 'GOOG', 'TSLA', 'MSFT']


async def get_data(symbol):
    ts = TimeSeries(key='F26RBERI3X6QA0PV')
    data, _ = await ts.get_quote_endpoint(symbol)
    await ts.close()
    return data

loop = asyncio.get_event_loop()
tasks = [get_data(symbol) for symbol in symbols]
group1 = asyncio.gather(*tasks)
results = loop.run_until_complete(group1)
loop.close()
print(results)

RuntimeError: This event loop is already running

_GatheringFuture exception was never retrieved
future: <_GatheringFuture finished exception=ValueError('Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.')>
Traceback (most recent call last):
  File "<ipython-input-40-954a39d9c122>", line 9, in get_data
    data, _ = await ts.get_quote_endpoint(symbol)
  File "/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/alpha_vantage/async_support/alphavantage.py", line 165, in _format_wrapper
    self, *args, **kwargs)
  File "/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/alpha_vantage/async_support/alphavantage.py", line 106, in _call_wrapper
    return await self._handle_api_call(url), data_key, meta_data_key
  File "/Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages/alpha_vantage/async_support/alphavantage.py", line 258, in _handle_api_call
    raise ValueError(json_response["Note"])
ValueError: Thank you for using Alpha Vantage! Our standard API call frequency is 5 calls per minute and 500 calls per day. Please visit https://www.alphavantage.co/premium/ if you would like to target a higher API call frequency.
Unclosed client session
client_session: <aiohttp.client.ClientSession object at 0x7fdf590f7410>
Unclosed client session
client_session: <aiohttp.client.ClientSession object at 0x7fdf591167d0>
Unclosed client session
client_session: <aiohttp.client.ClientSession object at 0x7fdf59116110>

In [38]:
!pip install asyncio

Collecting asyncio
  Downloading asyncio-3.4.3-py3-none-any.whl (101 kB)
     |████████████████████████████████| 101 kB 9.6 MB/s eta 0:00:01
Installing collected packages: asyncio
Successfully installed asyncio-3.4.3

In [43]:
!pip install quandl

Collecting quandl
  Downloading Quandl-3.6.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: requests>=2.7.0 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (2.22.0)
Requirement already satisfied: six in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.14.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: python-dateutil in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (2.8.1)
Requirement already satisfied: numpy>=1.8 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.18.1)
Requirement already satisfied: pandas>=0.14 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (1.0.1)
Requirement already satisfied: more-itertools in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from quandl) (8.2.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.7.0->quandl) (2020.12.5)
Requirement already satisfied: pytz>=2017.2 in /Users/shivajirao/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.14->quandl) (2019.3)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.0

In [44]:
!pip install quandl
import quandl
quandl.ApiConfig.api_key = '5k47d7JYRsbBXry8qbHF'
data = quandl.get_table('SHARADAR/SEP', ticker=['AAPL','TSLA'])

In [45]:
import numpy as np
import pandas as pd

In [47]:
Apple_EOD = quandl.get('EOD/AAPL')

In [48]:
Apple_EOD

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.600,487.350,488.580,11854600.0,0.0,1.0,15.596272,15.833489,15.414405,15.453308,331928800.0
2013-09-04,499.56,502.240,496.280,498.691,12322600.0,0.0,1.0,15.800595,15.885361,15.696852,15.773109,345032800.0
2013-09-05,500.25,500.680,493.640,495.270,8441700.0,0.0,1.0,15.822419,15.836020,15.613351,15.664906,236367600.0
2013-09-06,498.44,499.380,489.950,498.220,12840200.0,0.0,1.0,15.765170,15.794902,15.496640,15.758212,359525600.0
2013-09-09,505.00,507.920,503.480,506.170,12167400.0,0.0,1.0,15.972657,16.065014,15.924581,16.009663,340687200.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2017-12-21,174.17,176.020,174.100,175.010,20949896.0,0.0,1.0,41.836857,42.281240,41.820043,42.038631,83799584.0
2017-12-22,174.68,175.424,174.500,175.010,16349444.0,0.0,1.0,41.959363,42.138077,41.916125,42.038631,65397776.0
2017-12-26,170.80,171.470,169.679,170.570,33185536.0,0.0,1.0,41.027359,41.188298,40.758087,40.972112,132742144.0
2017-12-27,170.10,170.780,169.710,170.600,21498213.0,0.0,1.0,40.859214,41.022555,40.765534,40.979318,85992852.0
2017-12-28,171.00,171.850,170.480,171.080,16480187.0,0.0,1.0,41.075401,41.279577,40.950493,41.094617,65920748.0

In [49]:
quandl.get_table('SHARADAR/SEP', ticker=['AAPL','TSLA'])

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2021-02-16,818.000,821.000,792.440,796.220,19266137.0,0.0,796.22,2021-02-16
1,TSLA,2021-02-12,801.260,817.330,785.331,816.120,23588738.0,0.0,816.12,2021-02-12
2,TSLA,2021-02-11,812.440,829.880,801.725,811.660,21486772.0,0.0,811.66,2021-02-11
3,TSLA,2021-02-10,843.635,844.820,800.020,804.820,35723444.0,0.0,804.82,2021-02-10
4,TSLA,2021-02-09,855.120,859.800,841.750,849.460,15157651.0,0.0,849.46,2021-02-09
...,...,...,...,...,...,...,...,...,...,...
5089,AAPL,2011-01-07,11.928,12.012,11.854,12.004,311931200.0,0.0,336.12,2020-08-31
5090,AAPL,2011-01-06,11.954,11.973,11.889,11.919,300428800.0,0.0,333.73,2020-08-31
5091,AAPL,2011-01-05,11.770,11.941,11.768,11.928,255519600.0,0.0,334.00,2020-08-31
5092,AAPL,2011-01-04,11.873,11.875,11.720,11.832,309080800.0,0.0,331.29,2020-08-31
5093,AAPL,2011-01-03,11.630,11.795,11.601,11.770,445138400.0,0.0,329.57,2020-08-31

In [50]:
data = quandl.get_table('SHARADAR/SEP', ticker=['AAPL','TSLA'])

In [51]:
data.head()

,ticker,date,open,high,low,close,volume,dividends,closeunadj,lastupdated
None,,,,,,,,,,
0,TSLA,2021-02-16,818.000,821.00,792.440,796.22,19266137.0,0.0,796.22,2021-02-16
1,TSLA,2021-02-12,801.260,817.33,785.331,816.12,23588738.0,0.0,816.12,2021-02-12
2,TSLA,2021-02-11,812.440,829.88,801.725,811.66,21486772.0,0.0,811.66,2021-02-11
3,TSLA,2021-02-10,843.635,844.82,800.020,804.82,35723444.0,0.0,804.82,2021-02-10
4,TSLA,2021-02-09,855.120,859.80,841.750,849.46,15157651.0,0.0,849.46,2021-02-09

In [52]:
data = quandl.get_table('SHARADAR/SEP', ticker=['AAPL','TSLA'])

In [95]:
symbols = ['AAPL', 'GOOG', 'TSLA', 'MSFT']

def get_price_data(ticker):
    """ str -> dataframe
    Return a dataframe of time series trading data for a publicly traded company.
    ticker is a string representing a publicly traded company.
    """
    # Save the URL of API location.
    base_url = "https://www.alphavantage.co/query"
    # Create a request object using the base url, function, ticker symbol, and api key.
    req = requests.get(
        base_url,
        params={
            "function": "TIME_SERIES_DAILY",
            "symbol": ticker,
            "apikey": "F26RBERI3X6QA0PV"}
    )
    # Save the request object as a dictionary by calling .json on it.
    data = req.json()
    # Overwrite the dataframe to return a dictionary of Time Series data.
    data = data['Time Series (Daily)']
    # Convert the dictionary to a dataframe, transpose it, and save to a variable.
    df = pd.DataFrame(data).T
    mdf = data['Meta Data']['2. Symbol']
    mdf = pd.DataFrame(mdf).T
    # Return the dataframe.
    return df
for symbol in symbols: 
    dataframe = get_price_data(symbol)

KeyError: 'Meta Data'

In [87]:
ts_meta_data

'GME'

In [86]:
dataframe

             1. open   2. high    3. low  4. close 5. volume
2021-02-17  241.3200  244.3100  240.9400  244.2000  21451617
2021-02-16  245.0300  246.1300  242.9200  243.7000  26728487
2021-02-12  243.9332  245.3000  242.7300  244.9900  16561079
2021-02-11  244.7800  245.1500  242.1500  244.4900  15751059
2021-02-10  245.0000  245.9200  240.8900  242.8200  22117240
...              ...       ...       ...       ...       ...
2020-09-30  207.7300  211.9800  206.5400  210.3300  33829088
2020-09-29  209.3500  210.0700  206.8100  207.2600  24464472
2020-09-28  210.8800  212.5700  208.0600  209.4400  32004936
2020-09-25  203.5500  209.0400  202.5400  207.8200  29437312
2020-09-24  199.8500  205.5700  199.2000  203.1900  31202493

[100 rows x 5 columns]

In [66]:
dataframe

             1. open   2. high    3. low  4. close  5. volume
2021-02-17  131.2500  132.2200  129.4700  130.8400   97372199
2021-02-16  135.4900  136.0100  132.7900  133.1900   80576316
2021-02-12  134.3500  135.5300  133.6921  135.3700   60145130
2021-02-11  135.9000  136.3900  133.7700  135.1300   64280029
2021-02-10  136.4800  136.9900  134.4000  135.3900   72647988
...              ...       ...       ...       ...        ...
2020-09-30  113.7900  117.2600  113.6200  115.8100  142675184
2020-09-29  114.5500  115.3100  113.5700  114.0900  100060526
2020-09-28  115.0100  115.3200  112.7800  114.9600  137672403
2020-09-25  108.4300  112.4400  107.6700  112.2800  149981441
2020-09-24  105.1700  110.2500  105.0000  108.2200  167743349

[100 rows x 5 columns]